<?php

namespace App\Models\Tenant;

use App\Models\Manager\UserModel;
use Illuminate\Database\Eloquent\Factories\HasFactory;
use Illuminate\Database\Eloquent\Relations\BelongsTo;
use App\Models\Tenant\_TenantModelHelper;

class NotificationModelExample extends _TenantModelHelper
{
    use HasFactory;

    protected $connection = 'tenancies';
    protected $table = 'notifications_example';
    protected $baseTable = 'notifications';

    protected $fillable = [
        'user_id',
        'subject',
        'message',
        'type'
    ];

    protected $casts = [
        'type' => 'string'
    ];

    public function user(): BelongsTo
    {
        return $this->belongsTo(UserModel::class);
    }
}
